.admin-products-main{
  background-color: var(--body-color);
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  flex-wrap: wrap;
}

.add-product-div{
  /* background-color: lightyellow; */
  width: 20vw;
  padding-right: 40px;
  padding-top: 50px;
}

.add-product-box{
  /* background-color: #ffffff; */
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */

}

.add-product-box h4{
  font-size: 25px;
  margin-bottom: 10px;
}

.input-div{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-div label{
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-div input, #productDesc{
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  border: 1px solid gray;
}

#productDesc{
  height: 150px;
  resize: none;
}

#addProduct{
  background-color: var(--apply-btn-color);
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#addProduct:hover{
  background-color: var(--addtocart-btn-color);
}

.display-product-div{
  /* background-color: lightblue; */
  padding-top: 30px;
  padding-bottom: 50px;
  flex: 1;
}

.display-product-card-div{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
  justify-content: center;
}

.admin-product-box{
  background-color: var(--product-box-color);
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-product-box:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.admin-img-div {
  height: 200px;
  width: 100%;
  display: block;
}

.admin-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-info-div{
  margin-top: 15px;
  width: 100%;
}

.admin-name-div{
  margin-bottom: 8px;
}

.admin-price-div{
  margin-bottom: 2px;
  font-size: 15px;
}

.admin-name-div a{
  color: var(--main-text-color);
  font-weight: 900;
}

.admin-price-div a{
  color: var(--price-color);
}

.admin-button-div{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;

}

.admin-button-div button{
  background-color: var(--addtocart-btn-color);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

#admin-edit{
  background-color: var(--apply-btn-color);
  color: white;
}

#admin-edit:hover{
  background-color: var(--addtocart-btn-color);
  transition: 0.5s;
}

#admin-delete{
  background-color: #D6D6D6;
  color: #868686;
}

#admin-delete:hover{
  background-color: #E85858;
  color: white;
  transition: 0.5s;
}

.editPage{
  background-color: var(--body-color);
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-product-box{
  background-color: #FFFFFF;
  padding: 30px;
  width: 400px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.edit-head{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.edit-head h4{
  font-size: 25px;
}

.edit-product-box button{
  border: none;
  padding: 10px 12px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#save{
  background-color: var(--apply-btn-color);
  color: white;
  margin-right: 5px;
}

#save:hover{
  background-color: var(--addtocart-btn-color);
  transition: 0.5s;
}

#cancel{
  background-color: #D6D6D6;
  color: #868686;
}

#cancel:hover{
  background-color: #B5B5B5;
  transition: 0.5s;
}
