.admin-order-nav {
  margin: 25px;
  text-align: center;
}
.admin-order-nav select {
  max-width: 80rem;
  width: 70%;
  padding: 10px 10px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.admin-order-nav select:hover {
  background-color: #f0f0f0;
}

.admin-order-item {
  max-width: 80rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 8px 12px;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
}

.admin-order-item h3,
p {
  transition: all 0.3s ease;
}

.admin-order-details {
  flex-grow: 1;
}

.admin-order-image {
  width: 100px;
  height: 70px;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.admin-order-item button {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: all 0.3s ease;
}

.admin-order-item button:hover {
  color: white;
  border-color: #4caf50;
  background-color: #4caf50;
}

.admin-order-item h3 {
  font-size: 1rem;
}

.admin-order-item p {
  font-size: 0.9rem;
}

@media (max-width: 1400px) {
  .admin-order-item,
  .user-details {
    padding: 0 10px;
    max-width: 70%;
  }
}

@media (max-width: 700px) {
  .admin-order-item,
  .user-details {
    padding: 0 10px;
    max-width: 90%;
  }
}

@media (max-width: 700px) {
  .admin-order-nav select {
    width: 90%;
  }

  .admin-order-item {
    width: 90%;
  }

  .admin-order-item h3 {
    font-size: 1rem;
  }

  .admin-order-item p {
    font-size: 0.9rem;
  }

  .admin-order-item button {
    font-size: 0.7rem;
  }
}

@media (max-width: 460px) {
  .admin-order-item h3 {
    font-size: 0.9rem;
  }

  .admin-order-item p {
    font-size: 0.8rem;
  }

  .admin-order-item button {
    font-size: 0.6rem;
  }
}
