.product-sales-card{    
    margin: 10px;
    height: 300px;
    width: 225px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    background: white;
    box-shadow: 0 5px 10px -2px rgba(128, 128, 128, 0.2);
    transition: transform 0.2s ease;
}

.product-sales-image{
    height: 70%;
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s;
}

.product-sales-name{
    padding: 5px 0px;
    font-size: 24px;
    color:#298F3B;
}

.product-sales-card h2{
    font-size: 14px;
    font-weight: normal;
    color:#696969;
}

.product-sales-card:hover{  /* Enlarge image when hovering on product card */
    transform: scale(1.01);
    cursor: pointer;      
}

.modal {
    position: relative;
    display: flex;
    flex-direction: row; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    height: 60%;
    width: 70%;
    max-width: 800px;
}

.modal-tab{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.modal-image {
    max-width: 50%; 
    min-height: 100%; 
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.modal-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: normal;
}

.modal-text strong{
    font-size: clamp(10px, 2vw, 12px);
}

.modal-name {
    font-size: clamp(30px, 3vw, 40px);
    color: #298F3B;
}

.modal-info {
    font-size: clamp(15px, 1.5vw, 18px);
    color: #696969;
    font-weight: normal;
}

.modal-period {
    font-size: clamp(15px, 1.5vw, 18px);
    color: #696969;
    font-weight: normal;
}

.modal-sales {
    font-size: clamp(15px, 1.5vw, 18px);
    color: #696969;
    font-weight: normal;
}


.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

@media (max-width: 1000px) {
    .modal {
        position: relative;
        display: flex;
        flex-direction: row; 
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
        height: 70%;
        width: 70%;
        max-width: 800px;
    }
    .modal-tab{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
    }
    .modal-image {
        min-width: 95%;
        max-width: 100%;
        min-height: 50%;
        max-height: 50%;
        object-fit: cover;
    }
    .modal-text {
        text-align: center;
    }
}