:root{
  --body-color: #F9F8FE;
  --product-box-color: #FFFFFF;
  --addtocart-btn-color: #83B047;
  --addtocart-btn-hover-color: #32923C;
  --main-text-color: #0C0C0C;
  --price-color: #353535;
}

.shop-div{
  background-color: var(--body-color);
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.filter-div{
  /* background-color: beige; */
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.filter-div h1{
  font-size: 18px;
}

.filter-form, .range-form, .sort-form{
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkbox-div input{
  height: 20px;
  width: 20px;
}

.radio-div input{
  height: 15px;
  width: 15px;
}

.checkbox-div, .radio-div{
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 15px;
}

.range-div input{
  padding: 5px 8px;
  width: 80px;
}

.range-div{
  display: flex;
  align-items: center;
}

.range-submit-btn{
  width: 200px;
}

.line{
  background-color: gray;
  height: 2px;
  width: 80px;
  margin: 10px;
}

.products-div {
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px;
  justify-content: center;
}

.product-box {
  background-color: var(--product-box-color);
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
}

.img-div {
  height: 250px; /* Fixed height */
  width: 100%;
  display: block;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 1600px) {
  .products-div {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}

@media (max-width: 1200px) {
  .products-div {
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
  }
}



@media (max-width: 600px) {
  .products-div {
    grid-template-columns: repeat(1, 1fr); /* 2 columns */
  }
}


.name-div{
  margin-bottom: 5px;
}

.name-div a{
  color: var(--main-text-color);
  font-weight: 900;
}

.price-div{
  margin-bottom: 15px;
}

.price-div a{
  color: var(--price-color);
}

.addtocart-div{
  width: 100%;
  background-color: var(--addtocart-btn-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
}

.addtocart-div button{
  background: none;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
}

.addtocart-div:hover{
  background-color: var(--addtocart-btn-hover-color);
  transition: 0.5s;
}