.shop-div{
  background-color: var(--body-color);
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  min-height: 100vh;
}

.filter-div{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-right: 50px;
}

.filter-div h1{
  font-size: 18px;
  color: var(--main-text-color);
}

.filter-form, .range-form{
  margin-top: 15px;
  margin-bottom: 15px;
}

.range-form{
  display: flex;
  flex-direction: column;
}

.checkbox-div input {
  height: 20px;
  width: 20px;
  cursor: pointer;
  appearance: none;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}

.checkbox-div input:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.checkbox-div input:checked::after {
  content: '✔';
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-div{
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  font-size: var(--small-text-font-size);
}

.checkbox-div label{
  cursor: pointer;
}

.range-div{
  display: flex;
  align-items: center;
}

.range-div input{
  padding: 10px 12px;
  width: 90px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: var(--small-text-font-size);
  font-weight: 500;
}

.line{
  background-color: var(--border-color);
  height: 1px;
  width: 50px;
  margin: 10px;
}

.price-range-btn{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.range-submit-btn{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  margin-top: 10px;
}

#apply{
  background-color: var(--apply-btn-color);
  color: white;
}

#apply:hover{
  background-color: var(--addtocart-btn-color);
  transition: 0.5s;
}

#clear{
  background-color: #D6D6D6;
  color: #868686;
}

#clear:hover{
  background-color: #B5B5B5;
  transition: 0.5s;
}

.products-div{
  flex: 1;
}

.products-head-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.products-head-div select{
  padding: 10px;
  border-radius: 7px;
  font-weight: 500;
  font-size: var(--small-text-font-size);
  border: 1px solid var(--border-color);
  color: var(--main-text-color);
}

.products-head-div h4{
  font-weight: 500;
  font-size: var(--small-text-font-size);
  color: var(--border-color);
}

.product-cards-div{
  display: flex;
  gap: 20px;
  justify-content: baseline;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-box {
  background-color: var(--product-box-color);
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 400px; */
  min-width: calc(25% - 16px);
  max-height: 350px;
  /* max-width: 20%;  */
  /* flex: 1; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.product-box:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.img-div {
  height: 190px;
  width: 190px;
  display: block;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-div{
  margin-top: 15px;
  margin-bottom: 15px;
}

.name-div{
  margin-bottom: 8px;
}

.name-div a{
  color: var(--main-text-color);
  font-weight: 900;
}

.price-div a{
  color: var(--price-color);
}

.outofstock-div{
  background-color: #D6D6D6;
  color: #5c5c5c;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}

.addtocart-div{
  width: 100%;
  background-color: var(--addtocart-btn-color);
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.addtocart-div button{
  background: none;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  cursor: pointer;
}

.addtocart-div:hover{
  background-color: var(--addtocart-btn-hover-color);
  transition: 0.5s;
}

.cart-btn{
  background-color: var(--apply-btn-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 80px;
  width: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  border-radius: 15px;
  bottom: 50px;
  right: 50px;
  border: none;
  cursor: pointer;
}

.cart-btn:hover{
  background-color: var(--addtocart-btn-color);
  transition: 0.5s;
}

.cart-btn i{
  font-size: 40px;
  margin-left: -3px;
  margin-top: 2px;
}

#noproduct{
  height: 100vh;
  width: 50vw;
}

@media (max-width: 900px) {
  .img-div{
    height: 320px;
  }
  .shop-div{
    flex-direction: column;
  }
  .filter-div{
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
  }
  .product-cards-div{
    justify-content: center;
  }
}

.admin-filter-form{
  display: flex;
  gap: 5px;
}

.display-product-div h4{
  font-weight: 500;
  font-size: var(--small-text-font-size);
  color: var(--border-color);
  margin-bottom: 15px;
}

.admin-filter-div input{
  appearance: none;
}

.admin-filter-div label{
  background-color: #D6D6D6;
  color: #505050;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.admin-filter-div label:hover{
  background-color: #B5B5B5;
  transition: 0.5s;
}

.admin-filter-div input:checked + label {
  background-color: var(--addtocart-btn-color);
  color: white;
}
